/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-nov-2015, 11:09:31
    Author     : ruben
*/

/* gebruiken om alle divs te checken
div, ul, img {
    border: solid 1px ;
}
overal een border-radius: 2px;
kleuren nog aanpassen


*/
body{
    background-color: white;
    font-family: times new;
    margin: 0;

}
div.content{
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: inline;
    margin: auto;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;

}
div.contentcontent{
    background-color: white;
    position: absolute;
    width: 1250px;
    display: block;
    margin: auto;
    right: 0;
    left: 0;

}

div.menu{
    width: 100%;
    height: 160px;
    background-color: grey;

}
div.line{
    margin: auto;
    border-bottom: solid #a18e8e 2px;
    width: 1250px;
}
div.bovenmenu{
    text-align: right;
    background-color: #DF3A01;
}

#ulmenu{
    list-style-type: none;
    padding-left: 10px;
    background-color: grey;
    font-size: 24px;
    margin: auto;
    width: 750px;
}
#headlogo{
    height: 125px;
    margin-right: 50px;
    margin-top: 0px;
    border-radius:2px 2px 2px 2px;



}
.menutext{
    color: black;
    text-decoration:none;
    font-family: times new;

}
li.topmenu{

    margin-top: 75px;
    padding-right: 5px;

}
a.bootstrapoveride{

    text-decoration: none !important;
    background-color: grey !important;
}



.footermenu{
    position: fixed;
    background-color: darkgray;
    bottom:0;
    width:100%;
    height:50px;   
    z-index:1000;
}
.ulfooter{
    list-style-type: none;
    margin: 5px;
}


div.img{

    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 240px;
    background-color: white;
    padding: 5px;
    position: relative;
}

div.img:hover {
    border: 1px solid teal;


}
div.img.hover img{
    position: absolute;
    left: -80px;
    z-index: 1000;
    width: 400px;
}
div.img.hover .title, div.img.hover .extraInfo, div.img.extraInfoRight .title{
    position: absolute;
}

div.img img {
    width: 100%;
    height: auto;
    border-radius: 10px;

}/*
div.img img:hover{
    position:relative;
    top:-25px;
    left:-35px;
    width:400px;
    height:auto;
    display:  compact;
    z-index: auto;

}*/
div.title {
    padding: 10px;
    text-align: center;
    font-size: 1.3em;
    text-align: left;

}
div.extraInfo {
    width: 50%;
    box-sizing: border-box;
    padding: 0 5px 0 5px;
    color:black;
    float: left;
    text-align: left;
}
div.extraInfoRight {
    width: 50%;
    box-sizing: border-box;
    padding: 0 5px 0 5px;
    color:black;
    float:right;
    text-align: right;
}

div.gallerij{
    float: left;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
}
//css voor zoekmachine
ul.zoekmachine{


}



//css voor de contact.php pagina:
#contact-form {
    margin-left: 0px;
    //margin: auto;
    position: relative;
}

/*
Script voor slider
*/


#welkomstekst{
    text-align: center;
    white-space: pre;
    margin: 10px 0;
}
#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 300px;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 900px;
    height: 300px;
}

#slider ul li .slider-titel{
    color: black;
    position: absolute;
    display: block;
    width: 300px;
    text-align: center;
    bottom: 0;
    font-size: 1.4em;
}

#slider ul li a{
    display: block;
    height: 100%;
    width: 300px;
    float:left;
}
#slider ul li div{
    position: absolute;
    height: 270px;
    width: 290px;
    margin:5px 5px 25px 5px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

}

a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 3% 2%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
}

a.control_prev {
    left: 5px;
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 5px;
    border-radius: 2px 0 0 2px;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}


#pages-wrapper{
    position: relative;
    text-align: center;
}

#pages {
    display: inline-block;
    position: relative;
}

#pages .prev, #pages .next{
    padding: 9px 12px;
}

#pages .active, #pages a:not([href]){
    background-color: #ccc;
    cursor: initial;
}

#pages a {
    background-color: #fff;
}


#contact-form {
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
    float: left;
}


div.comment{
    min-height: 100%;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;

}

#pages-wrapper{
    position: relative;
    text-align: center;
}

#pages {
    display: inline-block;
    position: relative;
}

#pages .prev, #pages .next{
    padding: 9px 12px;
}

#pages .active, #pages a:not([href]){
    background-color: #ccc;
    cursor: initial;
}

#pages a {
    background-color: #fff;
}
//Dit is voor de contact.php pagina:
/*#contact-form {
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
    float: left;
}*/



#contact-form {
    position: relative;
    float: left;
}

#contact-foutmelding {
    position: relative;
    margin-top: 120px;
    margin-left: 140px;
    float:left;
    width: 20%;
}

.space-form {
    height: 2px;
}

.round_edge {
    border-radius: 10px;
}

#contact-page-content {
    margin-left: 140px;
    margin-top: 50px;
}
//einde opmaak contact.php pagina


#pages-wrapper{
    position: relative;
    text-align: center;
}

#pages {
    display: inline-block;
    position: relative;
}

#pages .prev, #pages .next{
    padding: 9px 12px;
}

#pages .active, #pages a:not([href]){
    background-color: #ccc;
    cursor: initial;
}

#pages a {
    background-color: #fff;
}

table.comment{
    width:400px;
    border:0px;
    text-align: center;
    padding: 3px;
    border-spacing: 0px;
}
table.comment1{
    width:400px;
    border:0px;
    text-align: center;
    padding: 0px;
    border-spacing: 1px;
}
table.comment2{
    width:400px;
    border:0px;
    text-align: center;
    padding: 3px;
    border-spacing: 1px;
}
/*Begin schilderij   */
div.schilderijimg
{
    position:relative;
    text-align: center;
    margin: 40px 0 20px 0;

}

div.schilderijinfo{
    margin: 0 50px;
}

ul.schilderij{
    list-style-type: none;
}
div.onderschilderij{
    /*padding-left: 100px;*/
}
.beschrijving{
    /*width: 300px;*/
    text-align: justify;
    white-space: pre;
    /*text-indent: 50px;*/
}

/* einde schilderij*/
/*commentaar box*/
div.capthapositie{
    padding-left: 325px;
    margin-bottom: 200px;


}
div.capthapositie1{
    margin-left: 25px

}
div.comments{

}
div.comment{
    min-height: 100%;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;

}
div.bordercomment{
}

.comment-box{
    margin: 5px;
    border: 1px solid #999;
    padding: 2px 4px;
    background-color: white;

}
.comment-box .comment-naam{
    border-bottom: 1px solid #999;
}

.comment-box .comment-beschrijving{
    white-space: pre-line;
}
/* opmaak commentaar box*/
td.commentaar{
    text-decoration:  none;
}

img.schilderij{
    max-width: 1150px;
}
