/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-nov-2015, 11:09:31
    Author     : ruben
*/

body{
    background-color: wheat;
    font-family: Californian FB;
    margin: 0;
}

.ulmenu{
    list-style-type: none;
    padding-left: 10px;
    background-color: grey;
    font-size: 24px;
    margin-left: 15%;

}
#headlogo{
   border-radius: 10px; 
    
    
}
#menutext{
    color: black;
    text-decoration:none;

}
.limenu{
    float: left;
}
.limenu a {
    display: block;
    margin: 2px;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    background-color: #000099;

}

.limenu a:hover {
    background-color: #0066cc;
}
.footermenu{
    position: fixed;
    background-color: darkgray;
    bottom:0;
    width:1250px;
    height:10%;   
}
.ulfooter{
    list-style-type: none;
    margin: 5px;
}
.lifooter{
    float: left;
    text-align: center;
}

.divcontent{
    position:absolute;
    width: 1250px;
    display: inline;
    margin: auto;
    background-color: #0066cc;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

