/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-nov-2015, 11:09:31
    Author     : ruben
*/

body{
    background-color: #eae6ca;
    font-family: Californian FB;
    margin: 0;
}

.ulmenu{
    list-style-type: none;
    margin: 5px;
    padding-left: 10px;
    background-color: grey;
    font-size: 24px;
    margin-left: 50%;

}
#menutext{
    color: black;
}
.limenu{
    float: left;
}
.limenu a {
    
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    
    background-color: wheat;
        

}

.limenu a:hover {
    background-color: #eae6ca;
}
.footermenu{
    position: absolute;
    background-color: darkgray;
    bottom:0;
    width:100%;
    height:10%;   
}
.ulfooter{
    list-style-type: none;
    margin: 5px;
}
.lifooter{
    float: left;
    text-align: center;
}