#inlog{
    width: 300px;
    height: 150px;
    position: relative;
    margin: 100px auto 0 auto;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: white;    
}

#inlog-background{
    background-color: #ffffff;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}