
/*
    INLOG --------------------------------------------------------------------------------
*/
#inlog{
    width: 330px;
    position: relative;
    margin: 100px auto 0 auto;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: white;    
    padding: 10px 10px 5px 10px;
}

#inlog-inner{
    width:250px;
}
#inlog-inner td{
    padding: 2px;
}
#inlog-inner td input{
    width: 100%;
}

#inlog-background{
    background-color: #ffffff;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*
    NAVIGATIE --------------------------------------------------------------------------------
*/

#navigation{
    height:48px;
    width: 100%;
}

#navigation ul{
    height: 48px;
    margin: 0px;
    padding: 0;
    background-color: gray;
}
#navigation ul li{
    height: 40px;
    float: left;
    list-style: none;
}
#navigation ul li.menu-right{
    float: right;
}
#navigation ul li a.active, #navigation ul li a:hover{
    background-color: #444;
}

#navigation ul li a, #navigation ul li span{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}


/*
    RANDOM STUFF --------------------------------------------------------------------------------
*/

#content{
    padding: 5px;
}

form td{
    padding: 1px;
}

form td input[type='button'][disabled='disabled']{
}

.incorrect {
    color:red;
    font-size: 0.8em;
}

/*
   edits+ lijsten --------------------------------------------------------------------------------
*/

#schilderijList, #addSchilderijLink, #categorieList{
    padding: 5px;
}

#editSchilderijImg{
    float:left;
    border: 1px solid #888;
    padding: 5px;
}

.schilderijListItem, .categorieListItem, .subcategorieListItem, .materiaalListItem{
    color: black;
    display: block;
    height:100px;
    border: 1px solid black;
    margin-bottom: 5px;
}
.schilderijListItemImg{
    width: 90px;
    height: 90px;
    margin: 5px;
    float: left;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.schilderijListItemInner, .categorieListItemInner, .subcategorieListItemInner, .materiaalListItemInner{
    float:left;
    height: 100px;
    overflow: hidden;

}
.schilderijListItem img{
    max-height: 90px;
    max-width: 90px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
}

.delete-comment{
   float: right;
   display: block;
   width: 100px;
   text-align: right;
}

.number{
    width:50px !important;
}

/*
    FORMS --------------------------------------------------------------------------------
*/

.editform{
    float:left;
}

.editform input[type="submit"], .editform input[type="button"]{
    width: auto;
}

.editform input[type="file"]{
    width: 100%;
}

.editform select, .editform input{
    width: 170px;
}
.editform textarea{
    width:100%;
    min-height: 100px;
    resize: vertical;
}
.beschrijving{
    white-space: pre;
}

.titel{
    font-size: 1.5em;
    font-weight: bold;
}