#inlog{
    width: 250px;
    position: relative;
    margin: 100px auto 0 auto;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: white;    
}

#inlog-inner{
    width:250px;
}

#inlog-inner td input{
    width: 100%;
}

#inlog-background{
    background-color: #ffffff;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

#navigation{
    height:40px;
    width: 100%;
}

#navigation ul{
    height: 40px;
    padding: 0;
    background-color: gray;
}
#navigation ul li{
    height: 36px;
    margin: 2px 10px;
    float: left;
}
#navigation ul li.menu-right{
    float: right;
}
#navigation ul li a, #navigation ul li span{
    height: 18px;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 9px;
}


.incorrect {
    color:red;
    font-size: 0.8em;
}

#schilderijList, #addSchilderijLink, #categorieList{
    padding: 5px;
}

.schilderijListItem, .categorieListItem{
    color: black;
    display: block;
    height:100px;
    border: 1px solid black;
    margin-bottom: 5px;
}
.schilderijListItemImg{
    width: 90px;
    height: 90px;
    margin: 5px;
    float: left;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.schilderijListItemInner, .categorieListItemInner{
    float:left;
    height: 100px;
    overflow: hidden;

}
.schilderijListItem img{
    max-height: 90px;
    max-width: 90px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
}

.number{
    width:50px !important;
}

.editform{

}

.editform input[type="submit"], .editform input[type="button"]{
    width: 83px;
}

.editform input[type="file"]{
    width: 100%;
}

.editform select, .editform input{
    width: 170px;
}
.editform textarea{
    width:100%;
    min-height: 100px;
    resize: vertical;
}
.beschrijving{
    white-space: pre;
}

.titel{
    font-size: 1.5em;
    font-weight: bold;
}