#inlog{
    width: 250px;
    position: relative;
    margin: 100px auto 0 auto;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: white;    
}

#inlog-inner{
    width:250px;
}

#inlog-inner td input{
    width: 100%;
}

#inlog-background{
    background-color: #ffffff;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

.incorrect {
    color:red;
    font-size: 0.8em;
}